/* DEFINITION */

body{
  margin:0;
  padding:0;
  overflow-x: hidden;
  max-width:100%;
  width:100%;
  background-color: #333;
}
*{
  margin: 0;
}

/* LOAD */

.load{
  background-color: #333;
  text-align: center;
  width:100%;
  height:100vh;
  position: relative;
  position: fixed;
  top:0;
  z-index:1000;
}

.container {
  position: absolute;
  top:50%;
  left:50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  max-width: 1000px;
  margin: auto;
  display: flex;
  padding: 0 20px;
  justify-content: space-around;
}

.block {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  width: 45px;
  display: flex;
  flex-wrap: wrap;
}

.circle {
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  margin: auto;
  animation-name: loading;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.circle:nth-child(1) {
  animation-delay: 0.2s;
}
.circle:nth-child(2) {
  animation-delay: 0.3s;
}
.circle:nth-child(3) {
  animation-delay: 0.4s;
}
.circle:nth-child(4) {
  animation-delay: 0.1s;
}
.circle:nth-child(5) {
  animation-delay: 0.2s;
}
.circle:nth-child(6) {
  animation-delay: 0.3s;
}
.circle:nth-child(7) {
  animation-delay: 0s;
}
.circle:nth-child(8) {
  animation-delay: 0.1s;
}
.circle:nth-child(9) {
  animation-delay: 0.2s;
}

@keyframes loading {
  20% {
    transform: scale(0.1);
  }
  40% {
    transform: scale(1);
  }
}


/* HEADER */

header{
  width:100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 500;
}
header a{
  text-decoration: none;
  color: #ffffff;
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding:10px 15px;
  background: #636363;
  border-radius: 0 15px 15px 0;
  transition: .5s;
  margin-top: 20px;
}
header a:hover {
  background: #f72626;
}


/* TOP-WRAPPER */

.top-wrapper{
  width:100%;
  max-width:100%;
  background-image: url(pic/back.png);
  background-size: cover;
  text-align: center;
}
.top-wrapper h1{
  color:white;
  padding: 200px 0 200px;
  background-color: black;
  font-size: 50px;
  font-family:serif;
  opacity: 0.6;
}
.top-wrapper h1 span,
footer h1 span{
  color:red;
}


/* SIGN */
.sign{
  width:100%;
  text-align: center;
}
.sign p{
  font-size: 50px;
}



/* ARTICLE */
.menu{
  width:96%;
  padding:0 2%;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.menu a{
  width:50%;
  margin:10px 0;
  padding:0;
  display: inline-block;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
  transition: 1s;
}
.menu a:hover{
  transform: translateY(-10px);
  transform: scale(1.1);
}
.article{
  width:100%;
  background-color: black;
  opacity: 0.6;
  z-index: 400;
  text-align: center;
}
.article h2{
  color:white;
  font-size: 32px;
  padding:50px 0 50px 0;
}

/* pic */
.menu a:nth-child(1){
  background-image: url(pic/si.png);
}
.menu a:nth-child(2){
  background-image: url(pic/re.png);
}
.menu a:nth-child(3){
  background-image: url(pic/sh.png);
}
.menu a:nth-child(4){
  background-image: url(pic/da.png);
}
.menu a:nth-child(5){
  background-image: url(pic/ca.png);
}
.menu a:nth-child(6){
  background-image: url(pic/we.png);
}
.menu a:nth-child(7){
  background-image: url(pic/gr.png);
}
.menu a:nth-child(8){
  background-image: url(pic/sn.png);
}
.menu a:nth-child(9){
  background-image: url(pic/ek.png);
}
.menu a:nth-child(10){
  background-image: url(pic/to.png);
}

/* BUTTON */

.button {
  display: inline-block;
  width: 200px;
  height: 54px;
  text-align: center;
  text-decoration: none;
  line-height: 54px;
  outline: none;
  position: relative;
  z-index: 2;
  background-color: #fff;
  border: 2px solid black;
  color: black;
  line-height: 50px;
  overflow: hidden;
}
.button:hover {
  color: #fff;
}
.button::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(.5);
  transform: scale(.5);
}
.button:hover::after {
  background: #333;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.button::before,
.button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.button,
.button::before,
.button::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

/* FOOTER */
footer{
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  padding-top: 20px;
  border-top: black solid 1px;
}
footer a{
  padding:10px 20px;
  border-radius: 5%;
  border: black solid 1px;
  text-decoration: none;
  color:#333;
  background-color:white;
  transition: 0.5s;
  display: inline-block;
}
footer a:hover{
  color: white;
  background-color: #333;
}
footer h5{
  color:white;
  margin-top: 10px;
  font-weight: 100;
}
footer h1{
  font-family: serif;
  padding-top: 50px;
  color:white;
}
footer p{
  font-size: 12px;
  color:white;
}









