/* DEFINITION */

body{
  margin:0;
  padding:0;
  overflow-x: hidden;
  max-width:100%;
  width:100%;
  background-color: #333;
}
*{
  margin: 0;
}
h1 span{
  color:red;
}


/* HEADER */
header{
  width:95%;
  padding:0 2.5%;
  max-width: 100%;
  height:80px;
  display: flex;
  align-items: center;
  background-color:#DFDEDE;
  justify-content: space-between;
}
header h1{
  font-family: serif;
  color:black;
}
header h1:nth-child(1){
  font-size: 140px;
  color:white;
}

/* JUMP */
.jump{
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 900;
}
.jump a{
  text-decoration: none;
  color: #ffffff;
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding:10px 15px;
  background: #636363;
  border-radius: 0 15px 15px 0;
  transition: .5s;
  margin-top: 20px;
}
.jump a:hover {
  background: #f72626;
}


/* MENU */
.menu{
  width:90%;
  padding:0 5%;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
}
.menu a{
  width:49%;
  margin:10px 0.5%;
  padding:0;
  display: inline-block;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  transition: 1s;
}
.menu a:hover{
  transform: translateY(-10px);
  transform: scale(1.1);
  z-index: 1000;
}
.article{
  width:100%;
  background-color: black;
  opacity: 0.6;
  z-index: 400;
  text-align: center;
}
.article h2{
  color:white;
  font-size: 32px;
  padding:50px 0 50px 0;
}
.menu a:nth-child(1){
  background-image: url(pic/na.png);
}
.menu a:nth-child(2){
  background-image: url(pic/bu.png);
}
.menu a:nth-child(3){
  background-image: url(pic/ar.png);
}
.menu a:nth-child(4){
  background-image: url(pic/in.png);
}
.menu a:nth-child(5){
  background-image: url(pic/ac.png);
}


/* BUTTON */

.button {
  display: inline-block;
  width: 200px;
  height: 54px;
  text-align: center;
  text-decoration: none;
  line-height: 54px;
  outline: none;
  position: relative;
  z-index: 2;
  background-color: #fff;
  border: 2px solid black;
  color: black;
  line-height: 50px;
  overflow: hidden;
}
.button:hover {
  color: #fff;
}
.button::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(.5);
  transform: scale(.5);
}
.button:hover::after {
  background: #333;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.button::before,
.button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.button,
.button::before,
.button::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}


/* FOOTER */
footer{
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  padding-top: 20px;
  border-top: black solid 1px;
}
footer a{
  padding:10px 20px;
  border-radius: 5%;
  border: black solid 1px;
  text-decoration: none;
  color:#333;
  background-color:white;
  transition: 0.5s;
  display: inline-block;
}
footer a:hover{
  color: white;
  background-color: #333;
}
footer h5{
  color:white;
  margin-top: 10px;
  font-weight: 100;
}
footer h1{
  font-family: serif;
  padding-top: 50px;
  color:white;
}
footer p{
  font-size: 12px;
  color:white;
}